<h1>First Prototype for an electronic purse</h1>
<p>
   There are officially printed credit notes (OPCN) in values of 5 C 10 C and 20 C and
   credit on your electronic purse. Payments of smaller amounts are not possible with
   credit notes. Payments of small amounts (up to 100 C (credits)) is possible in an 
   electronic way. Self printed credit notes (SPCN) can be used to facilitate payment.

</p>
