<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://github.com/jhonny007/micropay">Project source</a></li>
    </ul>
  </nav>
</footer>
